.m-table {
  border-spacing: unset;
  border: unset;
  border-collapse: collapse;
  width: 100%;
  background-color: #ededed;
}
table.m-table tr{
  box-sizing: border-box;
  height: 24px !important;
  border-bottom: 1px solid #ddd;
  cursor: default;
}
table.m-table tr > th {
  box-sizing: border-box;
  text-align: center;
  font-weight: lighter;
  position: sticky;
  top: 28px;
  background-color: #ededed;
  /* height: 55px !important; */
}
table th .m-th-name{
  height: 29px !important;
  padding: 7px 10px;
  vertical-align: center;
}
table .m-filter{
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.m-cbb-filter span{
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.m-filter .m-input{
  width: 100%;
}

table.m-table tbody tr:hover,
.m-modal-table tbody tr:hover,
.m-row-active{
  background-color: #d7e9f4 !important;
}
table.m-table td {
  padding: 3px 10px 2.5px !important;
}
table.m-table td,th {
  padding: 0 2px;
  /* white-space: pre-wrap; */  
  border-left: 1px solid;
  border-color: #c5c5c5;
}
table.m-table td,th:last-child{
  border-right: 1px solid;
  border-color: #c5c5c5;
}
table.m-table tbody {
  display:block;
  height: calc(100vh - 228px);
  overflow: scroll;
  background-color: #fff;
}
table.m-table thead,
table.m-table tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
table.m-table thead {
  width: calc( 100% - 17px);
  min-height: 55px;
}
table.m-table tr:nth-child(2n){
  background-color: #fafafa;
}
table.m-table tbody{
-moz-user-select: none; 
-webkit-user-select: none; 
-ms-user-select:none; 
user-select:none;-o-user-select:none;
}
/* Table inner modal */
.m-modal-table .m-input{
  width: 100%;
  border-color: #fff;
}
.m-modal-table th{
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}
.m-modal-table tr th:last-child{
  border-right: #fff;
}

.m-modal-table tr td{
  border-left: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}
.m-modal-table tr td:first-child,
.m-modal-table tr th:first-child{
  width: 5%;
  text-align: center;
  border-left: #fff;
  background-color: #ededed;
}
.m-modal-table tr td:last-child{
  /* padding: 0 10px; */
  background-color: #ededed;
  pointer-events: none;
}
.m-modal-table tr td:last-child .m-input{
  background-color: #ededed;
  border-color: #ededed;
}
.m-modal-table tr td{
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tr td .v-select{
  border-color: #fff;
}
.v-select:focus{
  border-color: #0072BC !important;
}

table.m-table tr td{
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
}

