<div>
  <!-- toolbar -->
  <div class="m-toolbar">
    <button
      class="m-btn m-btn-icon"
      @click="btnAddOnClick()"
      v-shortkey="['ctrl', '1']"
      @shortkey="btnAddOnClick()"
      title="Ctrl+1"
    >
      <i class="mi mi-16 mi-new m-mr-5"></i>
      Thêm
    </button>
    <button class="m-btn m-btn-icon" @click="btnDupOnClick()">
      <i class="mi mi-16 mi-duplicate m-mr-5"></i>
      Nhân bản
    </button>
    <button
      class="m-btn m-btn-icon"
      @click="btnUpdateOnClick()"
      v-shortkey="['ctrl', 'e']"
      @shortkey="btnUpdateOnClick()"
      title="Ctrl+E"
    >
      <i class="mi mi-16 mi-update m-mr-5"></i>
      Sửa
    </button>
    <button
      class="m-btn m-btn-icon"
      @click="btnDelOnClick()"
      v-shortkey="['ctrl', 'd']"
      @shortkey="btnDelOnClick()"
      title="Ctrl+D"
    >
      <i class="mi mi-16 mi-delete m-mr-5"></i>
      Xóa
    </button>
    <button
      class="m-btn m-btn-icon"
      @click="btnRefreshOnClick()"
      v-shortkey="['ctrl', 'y']"
      @shortkey="btnRefreshOnClick()"
      title="Ctrl+Y"
    >
      <i class="mi mi-16 mi-refresh m-mr-5"></i>
      Nạp
    </button>
  </div>
  <!-- GRID -->
  <material-list-grid
    :materials="materials"
    :materialId="materialId"
    :loading="loading"
    @onClickRowActive="onClickRowActive"
    @setObjectFilter="setObjectFilter"
    @onChangeSortObject="onChangeSortObject"
    @btnUpdateOnClick="btnUpdateOnClick"
  ></material-list-grid>
  <!-- end Table Grid -->
  <!-- POPUP -->
  <base-popup
    :status="popupStatus"
    :message="message"
    :show="isShowPopup"
    @btnYesConfirm="onDelete"
    @btnNoConfirm="hidePopup"
  ></base-popup>
  <!-- END POPUP -->
</div>
